<html>
    <head>
        <title>Home</title>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">  
        <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
      </head>

    <body>
    {% include 'sidebar.html' %}
      <div id="map"></div>
   




      <script>
          var myname=[
          {% for place in places %}
          "{{ place['name'] }}",
          {% endfor %} 
          ];
          var myplaces=[
            {% for place in places %}
            {lat: {{ place['lat']}} , lng: {{ place['lng']}} }, 
            {% endfor %} 
          ];
          for (var i = 0; i < myplaces.length; i++) {
            console.log(myplaces[i]);
          }
              function initMap() {
                var uluru = {lat: {{ my_coordinates[0] }}, lng:{{ my_coordinates[1] }}};
                
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: uluru
                });
                // var marker;
                for (var i = 0; i < myplaces.length; i++) {
        
                  var marker = new google.maps.Marker({
                      position: myplaces[i],
                      map: map,
                      title:myname[i]
                    
                  });
              }//end of for loop
              }
        </script>
        
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWb4diQbFeukhsSchcZvCrP7uV4FNuXXQ&callback=initMap">
            
            </script>
        
        
    </body>
    </html>

