<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>notification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <form action="/api/notification" method="get">
        <p>token:</p>
        <input type="text" name="token">
        <p>message:</p>
        <input type="text" name="msg">

        <input type="submit" value="send">
    </form>
</body>

</html>