<aside class="sidebar">

    <div class="search_bar">
<form method="POST" action="/home">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
     
    
      {{ form.address(class="shit",placeholder="Explore nearby",pattern="[\w]* ?[\w]*") }}
    </div>
    
    {{ form.submit(class='btn-primary') }}
    </form>
</div>
<!-- results -->
<div class="section-tabs">
        <div class="places">
          {% for place in places %}
            <article>
              <a class="name" href="{{ place['url'] }}" target="_blank">{{ place['name'] }}</a>
              <p class="walking-distance">{{ place['time'] }} min away</p>
            </article>
          {% endfor %}
        </div>
      </div>


</aside>